<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="1">

    <test name="Run Firefox">
        <parameter name="browser" value="FIREFOX"></parameter>
        <parameter name="nodeUrl" value="http://localhost:30001/wd/hub"></parameter>
        <classes>
            <class name="TestCases.LoginHomeTest"></class>
        </classes>
    </test>

</suite>